<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiebai.qqsk.live.dao.TbLivePopshopLogMapper">
  <resultMap id="BaseResultMap" type="com.jiebai.qqsk.live.model.TbLivePopshopLogDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="popshop_id" jdbcType="INTEGER" property="popshopId" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="status" jdbcType="TINYINT" property="status"/>
  </resultMap>

  <select id="getMarkByUserId" resultMap="BaseResultMap">
   select l.*
    from tb_live_popshop_log as l, tb_live_popshop as p
    where l.popshop_id = p.id and p.user_id = #{userId} and operator != #{userId} order by gmt_create desc limit 1
  </select>

  <select id="getLogsByPopShopId" resultMap="BaseResultMap">
    select * from tb_live_popshop_log where popshop_id = #{popShopId} order by gmt_create desc
  </select>
</mapper>